.arena {
    display: flex;
    justify-content: space-around;
}
.arenaWrapper {
    display: flex;
    flex-direction: column;
}
.cells {
    display: flex;
    flex-wrap: wrap;
}
.turn {
    font-size: 2vw;
    width: 100%;
    text-align: center;
}
.name {
    font-size: 2vw;
}